.container {
  flex-direction: column;
  padding: 0 24px;
  max-width: 380px;

}

.order-header {
  font-size: 20px;
  margin-bottom: 46px;
}

.hr {
  border: 2px solid #495DC7;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 0;
  padding: 0 10px;
  font-weight: 700;

  &-text {
    font-size: 20px;
  }

  &-count {
    font-size: 28px;
  }
}

.card {
  margin-bottom: 60px;
  display: flex;


  &-image {
    margin-right: 15px;

    &>img {
      width: 100%;
      height: 100%;
      max-width: 200px;
    }
  }

  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      font-size: 18px;
    }

    &-price {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
    }

    &-total {
      font-size: 28px;
      font-weight: 700;
      margin-right: 15px;
    }
  }
}

.x {
  margin: 0 10px;
}

.btn-footer {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

.empty-cart {
  margin: 0 auto;
  font-size: 25px;

}

.button-wrapper {
  display: flex;
  flex-direction: column;
}