<div class="container showcase-wrapper">
  <div *ngIf="!isLoading">
    <div class="not-order" *ngIf="!fridgeStore.is_order_available">
      <span>На данний момент замовлення недоступно</span>
      <img src="../../../assets/image/sad-smile.png" alt="" />
    </div>

    <ng-container *ngIf="fridgeStore.is_order_available">
      <div
        class="card-wrapper"
        *ngFor="let item of fridgeStore?.products; let i = index"
      >
        <div class="card">
          <div class="card-img">
            <img [src]="item.image" alt="" />
          </div>
          <div class="card-info">
            <span class="card-info-title">{{ item.title }}</span>

            <span class="card-info-description">{{ item.description }}</span>
          </div>
          <div class="card-footer">
            <div class="card-footer-price">
              <span class="card-footer-price__text">Ціна за шт:</span>
              <span>{{ item.price }}₴</span>
            </div>

            <div class="btn-wrapper">
              <button class="btn counter" (click)="decrement(item.id)">
                <span>-</span>
              </button>
              <span class="btn-wrapper-counter">{{ initCount(item) }}</span>

              <button class="btn counter" (click)="increment(item)">
                <span>+</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="!isEmpty" class="btn-pay-wrapper">
      <button class="btn btn-pay" (click)="toCart()">Перейти до оплати</button>
    </div>
  </div>

  <div *ngIf="isLoading" class="loader"></div>
</div>
